@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: rgb(102, 17, 77);
  --primary-color-darker: rgb(9, 48, 56);
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  position: relative;
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.img-dog {
  position: absolute;
  bottom: 200px;
  right: 0px;
  left: 370px;
  height: 230px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button:hover {
  background: var(--primary-color-darker);
}

button {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
  border: 2px solid #858585; /* Green */
}

.relogio {
  font-size: 3em;
}

.pausado {
  color: red;
}

.select {
  border: 2px solid #4CAF50; /* Green */
}

